<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<!--Seccion para la cadena de coneccion-->
	<connectionStrings>
		<add name="BibliotecaDB"
             connectionString="Server=.;Database=DB_GESTOR_DE_BIBLIOTECA;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>